.search-field__icon-wrapper {
  height: 100%;
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color_white { color: white; }

.color_black { color: black; }