.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eceff1;
  border-radius: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.tasksWrapper {
  margin-top: 10px;
  padding: 0 5px;
  overflow-y: scroll;
  height: calc(100% - 118px);;
  position: relative;
  background-color: #eceff1;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px 0px rgb(0 0 0 / 10%);

  &::-webkit-scrollbar-track {
    right: 0;
  }

  &::-webkit-scrollbar {
    width: 3px;
    //background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b6b6b6;
  }
}