.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  height: 77px;
  padding: 0 15px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  background-color: #e7e8dc;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}