.button {
  margin: 10px 0;
  width: 100%;
  max-width: 1180px;
  height: 77px;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 700;
  background-color: #e3ecc8;
  color: #3c3b3b;
  border-radius: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}